<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <h2>Book list</h2>
        <table class="table table-hover">
            <tr>
                <th><b>ID</b></th>
                <th><b>Title</b></th>
                <th><b>ISBN</b></th>
                <th><b>Author</b></th>
                <th><b>Publisher</b></th>
            </tr>
            {{#books}}
            <tr>
                <td>{{ id }}</td>
                <td>{{ title }}</td>
                <td>{{ isbn }}</td>
                <td>{{ author.firstName }} {{ author.lastName }}</td>
                <td>{{ publisher.name }}</td>
            </tr>
            {{/books}}
        </table>
    </div>
</body>
</html>